<nav class="navbar">
  <div class="w-100 sidemenu">
    <div id="sidemenu-toggle" class="toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <div class="sidemenu-main">
      <div class="sidemenu-left">
        <ul>
          <li><h3><a href="#stack">Work</a></h3></li>
          <li><h3><a href="#systems">Apps</a></h3></li>
          <li><h3><a href="#approach">Principles</a></h3></li>
          <li><h3><a href="#writing">Press</a></h3></li>
        </ul>
        <footer class="sidemenu-footer">
          <img src="/images/habitualos_vortex2.png" alt="" class="sidemenu-ring">
          &copy; 2026 HabitualOS
        </footer>
      </div>
      <div class="sidemenu-right">
        <div class="sidemenu-overlay"></div>
      </div>
    </div>
  </div>

  <div class="mx-auto">
    <a class="navbar-brand" href="/">
      <img src="/images/habitualos_vortex2.png" alt="" class="navbar-logo">
      HabitualOS
    </a>
  </div>
</nav>
