[build]
  command = "npm run build"
  publish = "_site"
  functions = "netlify/functions"

# Browser API - gateway for all /api/* requests
[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/action/*"
  to = "/action/"
  status = 200
  force = true

[[redirects]]
  from = "/file/*"
  to = "/file/"
  status = 200
  force = true
