[build]
  command = "npm run build"
  publish = "_site"
  functions = "netlify/functions"

[functions]
  node_bundler = "esbuild"

# Browser API - gateway for all /api/* requests
[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/do/action/*"
  to = "/do/action/"
  status = 200
  force = true

[[redirects]]
  from = "/do/file/*"
  to = "/do/file/"
  status = 200
  force = true
