[build]
  command = "npm run build"
  publish = "_site"
  functions = "netlify/functions"

# Browser API - gateway for all /api/* requests
[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/:splat"
  status = 200

[[redirects]]
  from = "/action/*"
  to = "/action/index.html"
  status = 200

[dev]
  command = "npm run eleventy:serve"
  framework = "#custom"
  port = 8888
  targetPort = 8080
  publish = "_site"
  autoLaunch = false
