// Reset and base styles
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100vh;
  background: linear-gradient(to bottom, #EBEDFD, #FDFCF3 70%, #B5DAFF);
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  line-height: 1.6;
  color: $color-text;
  // background: linear-gradient(
  //   to bottom,
  //   #fff 0%,
  //   #fff 20%,
  //   #def1e7 30%,
  //   #dff2e3 90%,
  //   #dff2e3 100%
  // );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: $space-md;
}

h1 {
  font-size: $font-size-3xl;
}

h2 {
  font-size: $font-size-2xl;
}

h3 {
  font-size: $font-size-xl;
}

p {
  margin-bottom: $space-md;
}

a {
  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul, ol {
  margin-left: $space-lg;
  margin-bottom: $space-md;
}
