---
layout: base.njk
title: Audio Splash
noContainer: true
noFooter: true
---
<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.getElementById('audio-splash').removeAttribute('hidden');
  });
</script>
