{% macro confirm(message="Are you sure?", confirmLabel="Delete", cancelLabel="Cancel", id="modal-confirm") %}
<div id="{{ id }}" class="modal-overlay modal-overlay--small" hidden aria-modal="true" role="dialog" aria-labelledby="{{ id }}-message">
  <div class="modal modal--small">
    <p class="modal-message" id="{{ id }}-message">{{ message }}</p>
    <div class="modal-actions">
      <button class="btn btn-ghost" data-modal-cancel>{{ cancelLabel }}</button>
      <button class="btn btn-danger" data-modal-ok>{{ confirmLabel }}</button>
    </div>
  </div>
</div>
<script type="module" src="/assets/js/modal.js"></script>
{% endmacro %}


{% macro widget(signalId) %}
<script src="/assets/js/signal-widget.js"{% if signalId %} data-signal-id="{{ signalId }}"{% endif %} defer></script>
{% endmacro %}
