---
title: HabitualOS
layout: base.njk
permalink: /
---

<script>
  window.location.replace('/practice/');
</script>

<noscript>
  <meta http-equiv="refresh" content="0; url=/practice/">
</noscript>

<div style="text-align: center; padding: 4rem 2rem;">
  <p>Redirecting to practice check-in...</p>
  <p><a href="/practice/">Click here if you are not redirected</a></p>
</div>
